[submodule "src/Oxygen/FrameworkBundle"]
	path = src/Oxygen/FrameworkBundle
url=https://github.com/Soletic/OxygenFrameworkBundle
[submodule "src/Oxygen/UIBundle"]
	path = src/Oxygen/UIBundle
url=https://github.com/Soletic/OxygenUIBundle
